<h2> <%= Order.human_attribute_name(:register_order) %> </h2>

<% if(@order.errors.any?) %> <%# Validação de erros%>
	<p>Verifique os erros abaixo:</p>
	<ul> 
		<% @order.errors.full_messages.each do |msg| %> 
			<li> <%= msg %> </li>
		<% end %>
	</ul>
<% end %>

<%= render 'form' %>